.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: min(90vw, 92rem);
  margin: 0 auto;
  padding-bottom: 4rem;
}

.transaction-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 2.4rem;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0.8rem;
  width: 100%;
  max-width: 92rem;
  height: 8rem;
}

.transaction-item img {
  border-radius: 0.4rem;
  width: 4.8rem;
  height: 4.8rem;
  flex-shrink: 0;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 0;
}

.transaction-title {
  font-size: 1.6rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transaction-subtitle {
  font-size: 1.4rem;
  color: gray;
  margin: 0;
}

.transaction-amount {
  margin-left: auto;
  font-weight: bold;
  font-size: 1.6rem;
  color: black;
}

.inflow {
  color: #00cc00;
}

.outflow {
  color: #cc0000;
}

.transaction-group {
  margin-bottom: 2vw;
}

.transaction-date {
  font-weight: normal;
  margin: 1.6vw 0 0.8vw;
  font-size: 1.6rem;
}

.transaction-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .transaction-list {
    max-width: min(100vw, 36rem);
    padding: 0 1.6rem 3.2rem;
    margin: 0 auto;
  }

  .transaction-item {
    max-width: 32.8rem;
    height: 6.4rem;
    padding: 1.6rem;
    gap: 1.2rem;
    border-radius: 0.8rem;
  }

  .transaction-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .transaction-title {
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .transaction-subtitle {
    font-size: 1.2rem;
  }

  .transaction-date {
    font-size: 1.4rem;
  }

  .transaction-amount {
    font-size: 1.4rem;
  }
}
