/* Transaction List */
.transaction-list {
  padding-bottom: 4vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: min(75%, 920px);
  margin: 0 auto;
}

/* Transaction Item */
.transaction-item {
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 2vw;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  width: 100%;
  flex-wrap: nowrap;
}

/* Image */
.transaction-item img {
  border-radius: 4px;
  width: clamp(32px, 6vw, 48px);
  height: clamp(32px, 6vw, 48px);
  flex-shrink: 0;
}

/* Transaction Details */
.transaction-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 0;
}

.transaction-title {
  font-size: 16px !important;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction-subtitle {
  font-size: 14px !important;
  color: gray;
  margin: 0;
}

.transaction-amount {
  margin-left: auto;
  font-weight: bold;
  font-size: clamp(1.2rem, 1.6vw, 1.4rem);
  color: black;
}

.inflow {
  color: #00cc00;
}

.outflow {
  color: #cc0000;
}

.transaction-group {
  margin-bottom: 2vw;
}

.transaction-date {
  font-weight: normal;
  margin: 1.6vw 0 0.8vw;
  font-size: clamp(1.2rem, 1.6vw, 1.4rem);
}

.transaction-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  list-style: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .transaction-list {
    width: min(50%, 480px);
  }

  .transaction-title {
    font-size: 1.4rem;
  }

  .transaction-details .transaction-subtitle {
    font-size: 1.2rem;
  }
}
